#MainBackground {
    background-color: white;
}

#TabButton {
    background-color: white;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#TabButton:hover {
    background-color: #8DD9FD;
}

#VerticalScroll_Thumb{
    background: #abc4cc;
    border: 0px;
    border-radius: 3;
}

#VerticalScroll_Thumb[State=Press]{
    background: #99afb7;
}

#VerticalScroll_Thumb[State=Release]{
    background: #abc4cc;
}

#VerticalScroll_Thumb[State=PhotoViewRelease]{
    background: rgba(white, 0.3);
}

#VerticalScroll_Thumb[State=PhotoViewPress]{
    background: rgba(white, 0.25);
}

#BackgroundLockWindow {
    background-color: rgba(0, 0, 0, 0.45);
    border-style: none;
}

#ContentDialog {
	background-color: white;
}

#LeftPanelItem
{
    background-color: white;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#LeftPanelItem:hover
{
    background-color: #8DD9FD;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#FilterWidget {
    background-color: transparent;
    border: none;
}

#DropDownItem {
    background-color: white;
    color: #111111;
}

#DropDownItem:hover {
    background-color: #8DD9FD;
    color: white;
}

#TableCell {
    border: 1px solid gray;
    background-color: white;
}

#TableCell[row=Event] {
    background-color: #e2e6ea;
}

#TableCell[row=Header] {
    background-color: #8DD9FD;
}
