#DefaultLbl {
    color: #111111;
    font: 12px $FF1;
}

#TabLbl {
	color: #111111;
        font: 12px $FF1;
}

#PageLbl {
	font: 14px $FF1;
	color: blue;
}

#PageLbl[state=highlight] {
	font: 14px $FF2;
}

#TitleBarDialog
{
	font: 13px $FF1;
	color: #111111;
	background-color: $cHeader;
	border-bottom: 1px solid $cLineHeader;
}

#DetailInfo {
	font: 14px $FF1;
	color: #111111;
	background-color: transparent;
}

#ZBackgroundMenu {
    @extend #TransWg;
}

#ZBackgroundMenuBackground {
    @extend #TransWg;
}

#ZFrameGiphy_Loading {
    @extend #TransWg;
}

#LeftPanelAction {
    font: $F0 $FF1;
    color: $C10;
}

#LeftPanelSubAction {
    font: $F0 $FF1;
    color: $C10;
    padding-left: 10px;
}
