#TransWg {
    background-color: transparent;
    border: 0px;
}

/* Font defines */
$FF1: "Segoe UI";
$FF2: "Segoe UI Semibold";

/* Import part files */
@import "_labelStyle.scss";
@import "_frameStyle.scss";


#HeaderMainWindow
{
    background: linear-gradient(red, yellow);
    // background-color: blue;
    border-style: none;
}

#MidleMainWindow
{
    background-color: #FFFFFF;
    border-style: none;
}

#MidleStyleOption
{
    border: 1px solid #8DD9FD;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
